<ul class="pagination">
  <% article_next = article.article_next %>
  <% if article_next %>
    <li>
      <a href="<%= article_next.url %>" rel="next" title="Next article: <%= h article_next.title %>">
        <span aria-hidden="true"><</span>
        <div class="pagination-text right">
          <div class="pagination-title"><%= article_next.title %></div>
          <div class="pagination-date"><%= article_next.date.strftime('%B %e, %Y') %></div>
        </div>
      </a>
    </li>
  <% end %>

  <% prev_article = article.article_previous %>
  <% if prev_article %>
    <li>
      <a href="<%= prev_article.url %>" rel="prev" title="Previous article: <%= h prev_article.title %>">
        <div class="pagination-text">
          <div class="pagination-title"><%= prev_article.title %></div>
          <div class="pagination-date"><%= prev_article.date.strftime('%B %e, %Y') %></div>
        </div>
        <span aria-hidden="true">></span>
      </a>
    </li>
  <% end %>

</ul>
