<ul class="list pa0 ma0 mv3 flex justify-end">
  <% article_next = article.article_next %>
  <% if article_next %>
    <li class="bg-black dim w-50 flex br bw4 b--white">
      <a href="<%= article_next.url %>" class="white pa3 link inline-flex w-100 justify-between items-center" rel="next" title="Next article: <%= h article_next.title %>">
        <span class="f1 pr3" aria-hidden="true"><</span>
        <div class="tr">
          <div class="f6 f4-ns mb2"><%= article_next.title %></div>
          <div class="f7"><%= article_next.date.strftime('%B %e, %Y') %></div>
        </div>
      </a>
    </li>
  <% end %>

  <% prev_article = article.article_previous %>
  <% if prev_article %>
    <li class="bg-black dim w-50 flex bl bw4 b--white">
      <a href="<%= prev_article.url %>" class="white pa3 link inline-flex w-100 justify-between items-center" rel="prev" title="Previous article: <%= h prev_article.title %>">
        <div class="tl">
          <div class="f6 f4-ns mb2"><%= prev_article.title %></div>
          <div class="f7"><%= prev_article.date.strftime('%B %e, %Y') %></div>
        </div>
        <span class="f1 pl3" aria-hidden="true">></span>
      </a>
    </li>
  <% end %>

</ul>
