<% wrap_layout :layout do %>
  <article>
    <h1 class="page-title">
      <% case page_type
        when 'day' %>
        <%= Date.new(year, month, day).strftime('%b %e %Y') %>
      <% when 'month' %>
        <%= Date.new(year, month, 1).strftime('%b %Y') %>
      <% when 'year' %>
        <%= year %>
      <% end %> Some Party back issues
    </h1>
    <%= yield %>
  </article>

  <div class="post-article">
    <%= partial '/_partials/cta' %>
  </div>

<% end %>
