<% wrap_layout :layout do %>
  <article>
    <div class="date"><%= current_article.date.strftime('%A %B %e, %Y') %></div>
    <h1 class="page-title"><%= current_article.title unless current_article.nil? %></h1>
    <%= partial '/_partials/tagline' %>
    <%= yield %>
  </article>

  <div class="post-article">
    <%= partial '/_partials/pager', :locals => { :article => current_article } %>
    <%= partial '/_partials/cta' %>
  </div>
<% end %>
