<!doctype html>
<html>
  <head>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KW3JSMV');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000"/>

    <%= javascript_include_tag "lazysizes.min.js", :async => true %>

    <%= auto_display_meta_tags %>

    <%= favicon_tag 'images/icons/favicon.ico' %>

    <% %w(57 60 72 76 114 120 144 152 180).each do |s| %>
    <%= favicon_tag "images/icons/apple-touch-icon-#{s}x#{s}.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "#{s}x#{s}" %>
    <% end %>

    <% %w(16 32 96).each do |s| %>
    <%= favicon_tag "images/icons/favicon-#{s}x#{s}.png", rel: 'icon', type: 'image/png', sizes: "#{s}x#{s}" %>
    <% end %>

    <%= favicon_tag "images/icons/android-chrome-192x192.png", rel: 'icon', type: 'image/png', sizes: "192x192" %>

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <style>
      html {
        line-height: 1.15;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%
      }

      body {
        margin: 0
      }

      article,
      footer,
      header {
        display: block
      }

      h1 {
        font-size: 2em;
        margin: .67em 0
      }

      hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible
      }

      a {
        background-color: transparent;
        -webkit-text-decoration-skip: objects
      }

      img {
        border-style: none
      }

      input {
        font-family: sans-serif;
        font-size: 100%;
        line-height: 1.15;
        margin: 0
      }

      input {
        overflow: visible
      }

      [type=submit] {
        -webkit-appearance: button
      }

      [type=submit]::-moz-focus-inner {
        border-style: none;
        padding: 0
      }

      [type=submit]:-moz-focusring {
        outline: 1px dotted ButtonText
      }

      ::-webkit-file-upload-button {
        -webkit-appearance: button;
        font: inherit
      }

      a,
      article,
      body,
      div,
      footer,
      form,
      h1,
      h2,
      header,
      html,
      input[type=text],
      li,
      p,
      ul {
        box-sizing: border-box
      }

      .aspect-ratio {
        height: 0;
        position: relative
      }

      .aspect-ratio--16x9 {
        padding-bottom: 56.25%
      }

      .aspect-ratio--object {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100
      }

      img {
        max-width: 100%
      }

      .cover {
        background-size: cover!important
      }

      .bb {
        border-bottom-style: solid;
        border-bottom-width: 1px
      }

      .bl {
        border-left-style: solid;
        border-left-width: 1px
      }

      .bn {
        border-style: none;
        border-width: 0
      }

      .b--black {
        border-color: #000
      }

      .b--white {
        border-color: #fff
      }

      .b--black-20 {
        border-color: rgba(0, 0, 0, .2)
      }

      .b--red {
        border-color: #ff4136
      }

      .bw2 {
        border-width: .25rem
      }

      .bw3 {
        border-width: .5rem
      }

      .cb {
        clear: both
      }

      .dn {
        display: none
      }

      .db {
        display :block;
      }

      .dib {
        display: inline-block
      }

      .flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
      }

      .inline-flex {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex
      }

      .items-center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
      }

      .justify-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
      }

      .justify-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
      }

      .justify-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
      }

      .b {
        font-weight: 700
      }

      .fw3 {
        font-weight: 300
      }

      .fw4 {
        font-weight: 400
      }

      .h2 {
        height: 2rem
      }

      .lh-copy {
        line-height: 1.5
      }

      .link {
        text-decoration: none
      }

      .link,
      .link:active,
      .link:focus,
      .link:hover,
      .link:link,
      .link:visited {
        transition: color .15s ease-in;
      }

      .link:focus {
        outline: 1px dotted currentColor
      }

      .list {
        list-style-type: none
      }

      .mw4 {
        max-width: 8rem;
      }

      .mw5 {
        max-width: 16rem
      }

      .mw6 {
        max-width: 32rem
      }

      .w-50 {
        width: 50%
      }

      .w-90 {
        width: 90%
      }

      .w-100 {
        width: 100%
      }

      .overflow-hidden {
        overflow: hidden
      }

      .relative {
        position: relative
      }

      .black-60 {
        color: rgba(0, 0, 0, .6)
      }

      .black {
        color: #000
      }

      .white {
        color: #fff
      }

      .bg-black-30 {
        background-color: rgba(0, 0, 0, .3)
      }

      .bg-black {
        background-color: #000
      }

      .bg-red {
        background-color: #ff4136
      }

      .pa0 {
        padding: 0
      }

      .pa3 {
        padding: 1rem
      }

      .pl2 {
        padding-left: .5rem
      }

      .pl3 {
        padding-left: 1rem
      }

      .pl4 {
        padding-left: 2rem
      }

      .pv3 {
        padding-top: 1rem;
        padding-bottom: 1rem
      }

      .pv4 {
        padding-top: 2rem;
        padding-bottom: 2rem
      }

      .ph2 {
        padding-left: .5rem;
        padding-right: .5rem
      }

      .ph3 {
        padding-left: 1rem;
        padding-right: 1rem
      }

      .ph4 {
        padding-left: 2rem;
        padding-right: 2rem
      }

      .ph6 {
        padding-left: 8rem;
        padding-right: 8rem
      }

      .ma0 {
        margin: 0
      }

      .mb0 {
        margin-bottom: 0
      }

      .mb4 {
        margin-bottom: 2rem
      }

      .mb6 {
        margin-bottom: 8rem
      }

      .mt1 {
        margin-top: .25rem
      }

      .mt4 {
        margin-top: 2rem
      }

      .mv2 {
        margin-top: .5rem;
        margin-bottom: .5rem
      }

      .mv3 {
        margin-top: 1rem;
        margin-bottom: 1rem
      }

      .mv4 {
        margin-top: 2rem;
        margin-bottom: 2rem
      }

      .mv5 {
        margin-top: 4rem;
        margin-bottom: 4rem
      }

      .mh2 {
        margin-left: .5rem;
        margin-right: .5rem
      }

      .mh4 {
        margin-left: 2rem;
        margin-right: 2rem
      }

      .nt3 {
        margin-top: -1rem;
      }

      .no-underline {
        text-decoration: none
      }

      .tl {
        text-align: left
      }

      .tc {
        text-align: center
      }

      .ttu {
        text-transform: uppercase
      }

      .f2 {
        font-size: 2.25rem
      }

      .f3 {
        font-size: 1.5rem
      }

      .f4 {
        font-size: 1.25rem
      }

      .f5 {
        font-size: 1rem
      }

      .f6 {
        font-size: .875rem
      }

      .measure-wide {
        max-width: 34em
      }

      .center {
        margin-right: auto;
        margin-left: auto
      }

      .dim {
        opacity: 1
      }

      .dim,
      .dim:focus,
      .dim:hover {
        transition: opacity .15s ease-in
      }

      .dim:focus,
      .dim:hover {
        opacity: .5
      }

      .dim:active {
        opacity: .8;
        transition: opacity .15s ease-out
      }

      @media screen and (min-width:30em) {
        .dib-ns {
          display: inline-block
        }
        .pa4-ns {
          padding: 2rem
        }
        .ph4-ns {
          padding-left: 2rem;
          padding-right: 2rem
        }
        .mv4-ns {
          margin-top: 2rem;
          margin-bottom: 2rem
        }
        .f4-ns {
          font-size: 1.25rem
        }
        .f5-ns {
          font-size: 1rem
        }
      }

      @media screen and (min-width:30em) and (max-width:60em) {
        .mw4-m {
          max-width: 8rem
        }
      }

      @media screen and (min-width:60em) {
        .dn-l {
          display: none
        }
        .dib-l {
          display: inline-block
        }
        .fl-l {
          float: left
        }
        .fl-l {
          display: inline
        }
        .mw5-l {
          max-width: 16rem
        }
        .mw7-l {
          max-width: 48rem
        }
        .w-50-l {
          width: 50%
        }
        .pa3-l {
          padding: 1rem
        }
      }

      body {
        font-family: 'Lato', sans-serif;
      }

      .maxread {
        max-width: 630px;
      }

      .maxquote {
        max-width: 600px;
      }

      .someparty-back {
        background-image: url("<%= image_path("the-beverleys-courtney-michaud.jpg") %>");
      }

      @media screen and (min-width: 60em) {
        .mw-logo {
          max-width: 13rem;
        }
      }

      .mw-slogan {
        max-width: 400px;
      }

      .hr-1 {
        height: 1px;
      }

      .instagram-media {
          margin: 0px auto!important;
      }

      .lazyload,
      .lazyloading {
        opacity: .2;
        background: black;
      }

      .lazyloaded {
        opacity: 1;
        transition: opacity 300ms;
      }

    </style>
  </head>
  <body class="f3 ma0 fw3">

    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KW3JSMV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <header class="fl-l w-100 w-50-l mw7-l">
      <div class="bg-black cover white tc pv4 ph2 ph4-ns someparty-back">
        <h1 class="dn">Some Party</h1>
        <a href="/">
          <%= image_tag 'logo-wide.svg', alt: "Some Party", class: "w-100 mw5 mw5-l dn-l" %>
          <%= image_tag 'logo.svg', alt: "Some Party", class: "w-100 dn dib-l mw5 mw4-m mw-logo" %>
        </a>
        <p class="f5 f5-ns mt4 center mw-slogan">A weekly newsletter on independent Canadian rock'n'roll, curated every Sunday evening by <a href="https://twitter.com/adamwhite" class="white b no-underline">Adam White</a> of <a href="https://www.punknews.org" class="white b no-underline">Punknews.org</a>: A sober second thought on new music, cool records, and the people making their own culture.</p>

        <%= partial '/_partials/subscribe' %>
      </div>
      <div class="tc f5">
        <ul class="list pa0 ma0">
          <li class="dib mv2 mv4-ns mh2"><%= link_to 'About', '/about.html', class: "no-underline black" %></li>
          <li class="dib mv2 mv4-ns mh2"><%= link_to 'Acknowledgements', '/acknowledgements.html', class: "no-underline black" %></li>
          <li class="dib mv2 mv4-ns mh2"><%= link_to 'Privacy', '/privacy.html', class: "no-underline black" %></li>
          <li class="dib mv2 mv4-ns mh2"><%= link_to 'Sponsors', '/sponsors.html', class: "no-underline black" %></li>
        </ul>

      </div>

      <%= partial '/_partials/submit' %>

    </header>

    <div id="main" role="main" class="overflow-hidden relative">
      <%= yield %>
    </div>

    <%= partial '/_partials/footer' %>

  </body>
</html>
