<!doctype html>
<html>
  <head>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KW3JSMV');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000"/>

    <%= javascript_include_tag "lazysizes.min.js", :async => true %>

    <%= auto_display_meta_tags %>

    <%= favicon_tag 'images/icons/favicon.ico' %>

    <% %w(57 60 72 76 114 120 144 152 180).each do |s| %>
    <%= favicon_tag "images/icons/apple-touch-icon-#{s}x#{s}.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "#{s}x#{s}" %>
    <% end %>

    <% %w(16 32 96).each do |s| %>
    <%= favicon_tag "images/icons/favicon-#{s}x#{s}.png", rel: 'icon', type: 'image/png', sizes: "#{s}x#{s}" %>
    <% end %>

    <%= favicon_tag "images/icons/android-chrome-192x192.png", rel: 'icon', type: 'image/png', sizes: "192x192" %>

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <% css_path = sitemap.resources.select { |p| p.source_file.match(/style[.]css$/) }.first %>
    <style type="text/css">
      <%= css_path.render %>

      .someparty-back {
        background-image: url("<%= image_path("the-beverleys-courtney-michaud.jpg") %>");
      }
    </style>

  </head>
  <body class="f3 ma0 fw3">

    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KW3JSMV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <header class="fl-l w-100 w-50-l mw7-l">
      <div class="bg-black cover white tc pv4 ph2 ph4-ns someparty-back">
        <h1 class="dn">Some Party</h1>
        <a href="/">
          <%= image_tag 'logo-wide.svg', alt: "Some Party", class: "w-100 mw5 mw5-l dn-l" %>
          <%= image_tag 'logo.svg', alt: "Some Party", class: "w-100 dn dib-l mw5 mw4-m mw-logo" %>
        </a>
        <p class="f5 f5-ns fw4 mt4 center mw-slogan">A weekly newsletter sharing the latest in independent Canadian rock'n'roll, curated every Sunday evening by <a href="https://twitter.com/adamwhite" class="white b no-underline">Adam White</a>.<br/><br/>Some Party features punk, garage, psych, and otherwise uncategorizable indie rock, drawing lines from proto to post and every weird diversion along the way.</p>

        <%= partial '/_partials/subscribe' %>
      </div>
      <div class="tc f5">
        <ul class="list pa0 ma0">
          <li class="dib mv2 mv4-ns mh2"><%= link_to 'About', '/about.html', class: "no-underline black" %></li>
          <li class="dib mv2 mv4-ns mh2"><%= link_to 'Acknowledgements', '/acknowledgements.html', class: "no-underline black" %></li>
          <li class="dib mv2 mv4-ns mh2"><%= link_to 'Privacy', '/privacy.html', class: "no-underline black" %></li>
          <li class="dib mv2 mv4-ns mh2"><%= link_to 'Sponsors', '/sponsors.html', class: "no-underline black" %></li>
        </ul>

      </div>

      <% if !current_page.path.match(/^premieres/) %>
        <% partial '/_partials/premiere' %>
      <% end %>

      <%= partial '/_partials/submit' %>

    </header>

    <div id="main" role="main" class="overflow-hidden relative">
      <%= yield %>
    </div>

    <%= partial '/_partials/footer' %>

  </body>
</html>
