---
title: SomeParty.ca
pageable: true
per_page: 1
front: true
---

<% page_articles.each_with_index do |article, i| %>
  <article>
    <div class="date"><%= article.date.strftime('%A %B %e, %Y') %></div>
    <h2 class="page-title"><%= link_to article.title, article, id: "canonical" %></h2>
    <%= partial '/_partials/tagline' %>
    <%= article.body %>
  </article>

  <div class="post-article">
    <%= partial '/_partials/pager', :locals => { :article => article } %>
    <%= partial '/_partials/cta' %>
  </div>
<% end %>
